<%= form_for(@roster) do |f| %>
  <% if @roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roster.errors.count, "error") %> prohibited this roster from being saved:</h2>

      <ul>
      <% @roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :cadet_id %><br />
    <%= f.text_field :cadet_id %>
  </div>
  <div class="field">
    <%= f.label :sign_in_time %><br />
    <%= f.time_select :sign_in_time %>
  </div>
  <div class="field">
    <%= f.label :sign_out_time %><br />
    <%= f.time_select :sign_out_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
