<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @roster.event_id %>
</p>

<p>
  <b>Cadet:</b>
  <%= @roster.cadet_id %>
</p>

<p>
  <b>Sign in time:</b>
  <%= @roster.sign_in_time %>
</p>

<p>
  <b>Sign out time:</b>
  <%= @roster.sign_out_time %>
</p>


<%= link_to 'Edit', edit_roster_path(@roster) %> |
<%= link_to 'Back', rosters_path %>
