<h1>Listing events</h1>

<table class="minimal">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Cadet in charge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.date.strftime("%d %b %Y") %></td>
    <td><%= event.start_time.strftime("%H%M") %></td>
    <td><%= event.end_time.strftime("%H%M") %></td>
    <td><%= event.description %></td>
    <td><%= event.cadet.name if event.cadet %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
