<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
	<tr>
		<td>
		<div class="field">
			<%= f.label :cadet_token_id, "Cadet" %><br />
			<%= f.text_field :cadet_token_id, "data-pre" => "[" + @award.cadet.to_json + "]" %>
		</div>
		</td>
		<td>
		  <div class="field">
			<%= f.label :ribbon_id %><br />
			<%= f.collection_select(:ribbon_id ,@ribbons,:id, :name,{:prompt =>"Select Ribbon"})%>
		  </div>
		 </td>
	</tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
