<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cadet_id %><br />
	<%= f.collection_select(:cadet_id ,@cadets,:id, :name,{:prompt =>"Select Cadet"})%>
  </div>
  <div class="field">
    <%= f.label :ribbon_id %><br />
	<%= f.collection_select(:ribbon_id ,@ribbons,:id, :name,{:prompt =>"Select Ribbon"})%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
