<p id="notice"><%= notice %></p>

<p>
  <b>Ribbon:</b>
  <%= @award.ribbon_id %>
</p>

<p>
  <b>Cadet:</b>
  <%= @award.cadet_id %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
