<h1>Listing cadets</h1>

<table class="minimal">
  <tr>
    <th>Name</th>
    <th>Platoon</th>
    <th>Email</th>
    <th colspan="3">Actions</th>
  </tr>

<% @cadets.each do |cadet| %>
  <tr>
    <td><%= cadet.name %></td>
    <td><%= cadet.platoon %></td>
    <td><%= cadet.email %></td>
    <td><%= link_to 'Show', cadet %></td>
    <td><%= link_to 'Edit', edit_cadet_path(cadet) %></td>
    <td><%= link_to 'Destroy', cadet, :confirm => 'Are you sure?', 
		:method => :delete , :remote=>true, :class=>'delete_cadet' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Cadet', new_cadet_path %>
