<% title "Cadet" %>

<p>
  <strong>Name:</strong>
  <%= @cadet.name %>
</p>
<p>
  <strong>Platoon:</strong>
  <%= @cadet.platoon %>
</p>

<table>
    <tr>
        <th>Award Name</th>
    </tr>
    <% for award in @awards %>
        <tr>
            <td><%= award.name %></td>
        </tr>
    <% end %>
<table>

<p>
  <%= link_to "Edit", edit_cadet_path(@cadet) %> |
  <%= link_to "Destroy", @cadet, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cadets_path %>
</p>
