<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @cadet.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @cadet.last_name %>
</p>

<p>
  <b>Platoon:</b>
  <%= @cadet.platoon %>
</p>

<p>
  <b>Email:</b>
  <%= @cadet.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @cadet.phone %>
</p>

<h2>Ribbons</h2>

<table>



	<% for award in @awards %>
	<tr>
		<td><%= award.ribbon.name %></td>
	</tr>
	<% end %>
</table>

<br/>

<%= link_to 'Edit', edit_cadet_path(@cadet) %> |
<%= link_to 'Back', cadets_path %>
