<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title><%= content_for?(:title) ? yield(:title) : "JROTC Manage" %></title>
    <%= stylesheet_link_tag "application", "contactable" %>
    <%= javascript_include_tag :defaults, "jquery.validate.pack.js", "jquery.contactable", "analytics" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<link rel="icon" href="/favicon.ico" type="image/ico" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  </head>
  <body>
	<%= render :partial => "partials/header" %>
	<%= render :partial => "partials/menu_bar" %>
	<div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      <%= render :partial => "partials/footer" %>
    </div>
	<div id="contactable">
	</div>
  </body>
</html>
